<!DOCTYPE html>
<html>
  <head>
    <title>EventBuzz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="components/appjs/app.min.css">
    <!-- Put your custom styles in this style sheet! -->
    <link rel="stylesheet" href="css/style.css">
  </head>
<!--BODY-->
  <body>
	<!--Pages-->
	<!--Home -->  
    <div class="app-page" data-page="home">
      <!--Toolbar-->  
      <div class="app-topbar dark-blue">
        <div class="app-title">Home</div>

  		<div class="app-button right login-button" data-target="login">Login</div>
  		<div class="app-button right logout-button" onclick="logout()">Logout</div>
  		<div class="app-button right extra-margin profile-button" data-target="profile">Profile</div>
  		<div class="app-button left" data-target="filter">Filter</div>
      </div>
      <!--Content-->
	  <div id="cont" class="app-content" style="background:#DAA520;">
	  	<!-- Welcome Message (very top of main screen) -->
	  	<div class="app-section">
	  		<div class="introText"></div>
	  	</div>
    	
    	<!-- Categories (mid-top section of main) -->  	
		<div class="app-section categories">
			<ul class="app-list">
				<li class="categories-header">Categories:</li>
				<li id = "#all" class="app-button white hashtag" onClick="categoryButtonClick(null)">#all</li>
				<li id = "#none" class="app-button white hashtag" onClick="categoryButtonClick('')">#none</li>
				<li class="app-button red hashtag" onClick="categoryButtonClick('Greek')">#Greek</li>
				<li class="app-button green hashtag" onClick="categoryButtonClick('Sports')">#Sports</li>
				<li class="app-button yellow hashtag" onClick="categoryButtonClick('Free Food')">#FreeFood</li>
				<li class="app-button blue hashtag" onClick="categoryButtonClick('Nongreek Social')">#NongreekSocial</li>
				<li class="app-button orange hashtag" onClick="categoryButtonClick('Info Session')">#InfoSession</li>
				<li class="app-button teal hashtag" onClick="categoryButtonClick('Study Groups')">#StudyGroups</li>
				<li class="app-button dark-blue hashtag" onClick="categoryButtonClick('Clubs')">#Clubs</li>
				<li class="app-button red hashtag" onClick="categoryButtonClick('College Sponsored Events')">	#CollegeSponsoredEvents</li>
			</ul>
		</div>
		
    	<!-- NewEventsList (middle section of main) -->
    	<div class="app-section" style="background:#DAA520">
    		<div class="app-content app-scrollable" style="height: 300px; overflow: scroll">
				<ul id="eventsList" class="app-list"></ul>
			</div>
		</div>

		<!-- Add Event Button (bottom of main)-->
	  	<div class="app-section create-event-button" style="background:#345">
        	<div class="app-button dark-blue" data-target="event-creation">Add an event!</div>
	  	</div>

		
		<!-- Footer (bottom)-->
	  	<div id ="footer">
			<p>#capstone4911:theBigEvent(2014)</p>
	  	</div>
	</div>
	</div>


    <!--Login -->  
	<div class="app-page" data-page="login">
    	<div class="app-topbar dark-blue">
        	<div class="app-button left" data-back data-autotitle></div>
       
        	<div class="app-title">Login</div>
        </div>
      		<div class="app-content" style="background:#DAA520">
      			<div class="app-section" style="background:#DAA520"><center><img src="img/header.png" style="max-width:100%"></center></div>
        			<div class="app-section" style="background:#DAA520">
       					<input id="usnm" class="app-input" value = "Username: " style="background:#E5E2E2; color: gray" onfocus="inputFocus(this)" onblur="inputBlur(this)">
        				<input id="pswrd" class="app-input" value = "Password: " style="background:#E5E2E2; color: gray" onfocus="passwordFocus(this)" onblur="inputBlur(this)">
        					<div class = "app-section" style="background:#345">
        						<div class="app-button dark-blue" onclick = "checkCredentials(usnm.value,pswrd.value)">Sign in</div>
        					</div>
        					<div class="app-button dark-blue" data-target="account-creation">Create Account</div>
        			</div>
      		</div>
		</div>
	</div>

	<!--Profile -->  
	<div class="app-page" data-page="profile">
    	<div class="app-topbar dark-blue">
        	<div class="app-button left" data-back data-autotitle></div>
       
        	<div class="app-title">Profile</div>
        </div>
      		<div class="app-content" style="background:#DAA520">
      			<div class="app-section" style="background:#DAA520"><center><img src="img/header.png" style="max-width:100%"></center>
      			</div>
        			<div class="app-section" style="background:#DAA520">
        				<div class="app-section" style="background:#DAA520; font-weight:bold; font-style:italic;">RSVP'd events:
    						<div class="app-content app-scrollable" style="height: 300px; overflow: scroll">
								<ul id="profileList" class="app-list"></ul>
							</div>
						</div>
        			</div>
      		</div>
		</div>
	</div>


	<!--Account Creation-->
	<div class="app-page" data-page="account-creation">
      <div class="app-topbar dark-blue">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Welcome!</div>
      </div>
      <div class="app-content" style="background:#DAA520">
        <div class="app-section">
      	<form>
	      	<ul class="app-list">
	      	<li> Username:
	            <input id="inputUsnm" type="text" name="Username">
	        </li>
	        <li> Email:
	        	<input id="inputEmail" type="text" name="Email">
	        </li>
	        <li>
	          	Password:
	          	<input id="inputPass" type="password" name="Password">
	        </li>
	        <li>
	        	Password (Confirm):
	        	<input id="inputPass2" type="password" name="Password2">
	        </li>
	        
	        </ul>
		</form>
	  </div>
	  <div class="app-section" style="background:#345">
	  	    <div class="app-button dark-blue" onclick="addAccountToDatabase()" data-target="login">Create Account!</div>
	  </div>
      </div>
    </div>


    <!---Details Page -->
    <div class="app-page" data-page="details">
      <div class="app-topbar dark-blue">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Event Details</div>
      </div>
      <div class="app-content" style="background:#DAA520">
        <div class="app-section">			
			<table style="color:#494949">
				<tr>
					<td style="font-weight:bold">Name: </td>
					<td class="eventName" style="padding-left:5px">das</td>
				</tr>
				<tr>
					<td style="font-weight:bold">Date: </td>
					<td class="eventDate" style="padding-left:5px">das</td>
				</tr>
				<tr>
					<td style="font-weight:bold">Time: </td>
					<td class="eventTime" style="padding-left:5px"></td>
				</tr>
				<tr>
					<td style="font-weight:bold">Location: </td>
					<td class="eventLocation" style="padding-left:5px"></td>
				</tr>
				<tr>
					<td style="font-weight:bold">Host: </td>
					<td class="eventHost" style="padding-left:5px"></td>
				</tr>
				<tr>
					<td style="font-weight:bold">Category: </td>
					<td class="eventCategory" style="padding-left:5px"></td>
				</tr>
			</table>
		</div>
		<div class="app-section">
			<div style="font-weight:bold; color:#494949">Description: </div>
			<div style="color:#494949" class="eventDescription"></div>
		</div>
		<div class="app-section" style="background: #3C7">
        	<div class="app-button green rsvp-button">RSVP for this event!</div>
        </div>
	  </div>
    </div>


	<!--event-creation-->  
    <div class="app-page" data-page="event-creation">
      <div class="app-topbar dark-blue">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Create an Event</div>
      </div>
      <div class="app-content" style="background:#DAA520">
        <div class="app-section">
      	<form>
	      	<ul class="app-list">
	      	<li> Name:
	            <input id="inputName" type="text" name="name">
	        </li>
	        <li> Date:
	        	<input id="inputDate" type="date" name="date">
	        </li>
	        <li>
	          	Time:
	          	<input id="inputTime" type="time" name="time">
	        </li>
	        <li>
	        	Host:
	        	<input id="inputHost" type="text" name="host">
	        </li>
	        <li>
	        	Location:
	        	<input id="inputLocation" type="text" name="location">
	        </li>
	        <li>
	        	Description:
	        	<textarea id="inputDescription" name="description"></textarea>
	        </li>
	        <li>
	          	Category:
	        </li>
	        <li>
	          	<input id="inputGreek" type="checkbox" name="category" value="Greek">Greek
	        </li>
	        <li>
	          	<input id="inputSports" type="checkbox" name="category" value="Sports">Sports
	        </li>
	        <li>
	          	<input id="inputFreeFood" type="checkbox" name="category" value="Free Food">Free Food
	        </li>
	        <li>
	          	<input id="inputNonGreekSocial" type="checkbox" name="category" value="Nongreek Social">Nongreek Social
	        </li>
	        <li>
	          	<input id="inputInfoSession" type="checkbox" name="category" value="Info Session">Info Session
	        </li>
	        <li>
	          	<input id="inputStudyGroup" type="checkbox" name="category" value="Study Groups">Study Groups
	        </li>
	        <li>
	          	<input id="inputClubs" type="checkbox" name="category" value="Clubs">Clubs
	        </li>
	        <li>
	          	<input id="inputCollegeSponsoredEvents" type="checkbox" name="category" value="College Sponsored Events">College Sponsored Events
	        </li>
	       	<li>
	          	<input id="inputOther" type="checkbox" name="category" value="Other">Other
	        </li>
	        </ul>
		</form>
	  </div>
	  <div class="app-section" style="background:#345">
	  	    <div class="app-button dark-blue" onClick="addEventToDatabase()" data-target="home">Create Event</div>
	  </div>
      </div>
    </div>

    <!--Filter Page-->
    <div class="app-page" data-page="filter">
      <div class="app-topbar dark-blue">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Filter Events</div>
      </div>
      <div class="app-content" style="background:#DAA520">
      	<div class="app-section">
	      	<form id="filterform">
		      	<ul class="app-list">
			      	<li>Keywords: <input id="filterkeyword" type="text" name="keyword" style="width:50%"></li>       <!-- TODO: Make these inputs span the whole row. -->
			        <li>Date: <input id="filterdate" type="date" name="date"></li>
			        <li>Time: <input id="filtertime" type="time" name="time"></li>
			        <!--<li>Category:</li>-->
			        <li><input id="filterGreek" type="checkbox" name="category" value="Greek">Greek</li>
			        <li><input id="filterSports" type="checkbox" name="category" value="Sports">Sports</li>
			        <li><input id="filterFood" type="checkbox" name="category" value="Free Food">Free Food</li>
			        <li><input id="filterNonG" type="checkbox" name="category" value="Nongreek Social">Nongreek Social</li>
			        <li><input id="filterInfoS"	type="checkbox" name="category" value="Info Session">Info Session</li>
			        <li><input id="filterStudy" type="checkbox" name="category" value="Study Groups">Study Groups</li>
			        <li><input id="filterClub" type="checkbox" name="category" value="Clubs">Clubs</li>
			        <li><input id="filterColl" type="checkbox" name="category" value="College Sponsored Events">College Sponsored Events</li>
		        </ul>
			</form> 
	  	</div>
		<div class="app-section" style="background:#345">
	  		<div type ="submit" class="app-button dark-blue" onClick="transferHomeFromFilter()">Filter Events</div>
	  	</div> 
      </div>
    </div>

<!--Scripts--> 
    <script src="components/appjs/zepto.js"></script>
    <script src="components/appjs/app.min.js"></script>
    <script src="components/lodash.js"></script>
    <script src="components/momentjs/moment.js"></script>
    <script src="../zerver/Query.js"></script>
    <script src="js/MainEvent.js"></script>
    <script src="js/EventCreation.js"></script>
    <script src="js/Login.js"></script>
    <script src="js/EventDetails.js"></script>
    <script src="js/Filter.js"></script>
    <script src="js/Profile.js"></script>
    <script src="js/AccountCreation.js"></script>
  </body>
</html>
