<!DOCTYPE html>
<html>
  <head>
    <title>EventBuzz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="components/appjs/app.min.css">
    <!-- Put your custom styles in this style sheet! -->
    <link rel="stylesheet" href="css/style.css">
  </head>
<!--BODY-->
  <body>
	<!--Pages-->
	<!--Home -->  
    <div class="app-page" data-page="home">
      <!--Toolbar-->  
      <div class="app-topbar dark-blue">
        <div class="app-title">Home</div>
  		<div class="app-button right" data-target="login">Login</div>
  		<div class="app-button left" data-target="filter">Filter</div>
      </div>
      <!--Content-->
	  <div id="cont" class="app-content" style="background:#DAA520;">
	  	<!-- Welcome Message (very top of main screen) -->
	  	<div class="app-section">
	  		<div class="introText"></div>
	  	</div>
    	
    	<!-- Categories (mid-top section of main) -->  	
		<div class="app-section categories">
			<ul class="app-list">
				<li class="categories-header">Categories:</li>
				<li id = "#all" class="app-button white hashtag" onClick="categoryButtonClick(null)">#all</li>
				<li id = "#none" class="app-button white hashtag" onClick="categoryButtonClick('')">#none</li>
				<li class="app-button red hashtag" onClick="categoryButtonClick('Greek')">#Greek</li>
				<li class="app-button green hashtag" onClick="categoryButtonClick('Sports')">#Sports</li>
				<li class="app-button yellow hashtag" onClick="categoryButtonClick('Free Food')">#FreeFood</li>
				<li class="app-button blue hashtag" onClick="categoryButtonClick('Nongreek Social')">#NongreekSocial</li>
				<li class="app-button orange hashtag" onClick="categoryButtonClick('Info Session')">#InfoSession</li>
				<li class="app-button teal hashtag" onClick="categoryButtonClick('Study Groups')">#StudyGroups</li>
				<li class="app-button dark-blue hashtag" onClick="categoryButtonClick('Clubs')">#Clubs</li>
				<li class="app-button red hashtag" onClick="categoryButtonClick('College Sponsored Events')">	#CollegeSponsoredEvents</li>
			</ul>
		</div>
		
    	<!-- NewEventsList (middle section of main) -->
    	<div class="app-section" style="background:#DAA520">
    		<div class="app-content app-scrollable" style="height: 300px; overflow: scroll">
				<ul id="eventsList" class="app-list"></ul>
			</div>
		</div>

		<!-- Add Event Button (bottom of main)-->
	  	<div class="app-section" style="background:#345">
        	<div class="app-button dark-blue" data-target="event-creation">Add an event!</div>
	  	</div>

		
		<!-- Footer (bottom)-->
	  	<div id ="footer">
			<p>#capstone4911:theBigEvent(2014)</p>
	  	</div>
	</div>
	</div>


    <!--Login -->  
	<div class="app-page" data-page="login">
      <div class="app-topbar dark-blue">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Login</div>
      </div>
      	<div class="app-section" style="background:#DAA520"><center><img src="img/header.png" style="max-width:100%"></center></div>
        <div class="app-section" style="background:#DAA520">
       		<input id="usnm" class="app-input" value = "Username: " style="background:#E5E2E2; color: gray" onfocus="inputFocus(this)" onblur="inputBlur(this)">
        	<input id="pswrd" class="app-input" value = "Password: " style="background:#E5E2E2; color: gray" onfocus="passwordFocus(this)" onblur="inputBlur(this)">
        	<div class = "app-section" style="background:#345">
        		<div class="app-button dark-blue" data-target="home" onclick = "generateCredentials(usnm.value,pswrd.value)">Sign in</div>
        	</div>
        </div>
	</div>


    <!---Details Page -->
    <div class="app-page" data-page="details">
      <div class="app-topbar dark-blue">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Event Details</div>
      </div>
      <div class="app-content" style="background:#DAA520">
        <div class="app-section">
      		<ul class="app-list">
	      	  <li class="eventName" style="font-weight:bold"></li>
	          <li class="eventDate" style="font-weight:bold"></li>
	          <li class="eventTime" style="font-weight:bold"></li>
	          <li class="eventCategory" style="font-weight:bold"></li>
			</ul>
		</div>
		<div class="app-section">
			<div class="eventDescription"></div>
		</div>
	  </div>
    </div>


	<!--event-creation-->  
    <div class="app-page" data-page="event-creation">
      <div class="app-topbar dark-blue">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Event Info</div>
      </div>
      <div class="app-content" style="background:#DAA520">
        <div class="app-section">
      	<form>
	      	<ul class="app-list">
	      	<li> Name:
	            <input type="text" name="name">
	        </li>
	        <li> Date:
	        	<input type="date" name="date">
	        </li>
	        <li>
	          Time:
	          <input type="time" name="time">
	        </li>
	        <li>
	          	Category:
	        </li>
	        <li>
	          	<input type="radio" name="category" value="Greek">Greek
	        </li>
	        <li>
	          	<input type="radio" name="category" value="Sports">Sports
	        </li>
	        <li>
	          	<input type="radio" name="category" value="Free Food">Free Food
	        </li>
	        <li>
	          	<input type="radio" name="category" value="Nongreek Social">Nongreek Social
	        </li>
	        <li>
	          	<input type="radio" name="category" value="Info Session">Info Session
	        </li>
	        <li>
	          	<input type="radio" name="category" value="Study Groups">Study Groups
	        </li>
	        <li>
	          	<input type="radio" name="category" value="Clubs">Clubs
	        </li>
	        <li>
	          	<input type="radio" name="category" value="College Sponsored Events">College Sponsored Events
	        </li>
	        <li>
	          	<input type = "submit" class="app-button dark-blue" value="Create Event" onClick="createEvent" data-target="home">
	        </li>
	        </ul>
		</form>
	  </div>
      </div>
    </div>

    <!--Filter Page-->
    <div class="app-page" data-page="filter">
      <div class="app-topbar dark-blue">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Filter Events</div>
      </div>
      <div class="app-content" style="background:#DAA520">
      	<div class="app-section">
	      	<form>
		      	<ul class="app-list">
			      	<li>Keywords: <input id="filterkeyword" type="text" name="keyword" style="width:50%"></li>       <!-- TODO: Make these inputs span the whole row. -->
			        <li>Date: <input id="filterdate" type="date" name="date"></li>
			        <li>Time: <input type="time" name="time"></li>
			        <!--<li>Category:</li>-->
			        <li><input id="filterGreek"		type="checkbox" name="category" value="Greek">						Greek</li>
			        <li><input id="filterSports"	type="checkbox" name="category" value="Sports">						Sports</li>
			        <li><input id="filterFood"		type="checkbox" name="category" value="Free Food">					Free Food</li>
			        <li><input id="filterNonG"		type="checkbox" name="category" value="Nongreek Social">			Nongreek Social</li>
			        <li><input id="filterInfoS"		type="checkbox" name="category" value="Info Session">				Info Session</li>
			        <li><input id="filterStudy"		type="checkbox" name="category" value="Study Groups">				Study Groups</li>
			        <li><input id="filterClub"		type="checkbox" name="category" value="Clubs">						Clubs</li>
			        <li><input id="filterColl"		type="checkbox" name="category" value="College Sponsored Events">	College Sponsored Events</li>
		        </ul>
			</form> 
	  	</div>
		<div class="app-section" style="background:#345">
	  		<div type ="submit" class="app-button dark-blue" onClick="transferHomeFromFilter()">Filter Events</div>
	  	</div> 
      </div>
    </div>

<!--Scripts-->  
    <script src="components/appjs/zepto.js"></script>
    <script src="components/appjs/app.min.js"></script>
    <script src="components/lodash.js"></script>
    <script src="components/momentjs/moment.js"></script>
    <script src="../zerver/Query.js"></script>
    <script src="js/MainEvent.js"></script>
    <script src="js/Login.js"></script>
    <script src="js/EventDetails.js"></script>
    <script src="js/Filter.js"></script>
  </body>
</html>
