.app-button {
	cursor: pointer;
}

.introText {
	font-weight: bold; 
	font-size: 24px;
}

.hashtag {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	display: inline; 
	font-weight: bold;
}

.categories-header {
	display: inline; 
	font-weight: bold; 
	padding: 0px;
}

.categories {
	padding: 5px;
}

#footer {
	background: #000000; 
	color: #FFFFFF; 
	font-family: courier; 
	bottom: 0px; 
	opacity: 0.80; 
	overflow: hidden; 
	margin-bottom: 0%;
}

.extra-margin {
	margin-right: 60px;
}


.extra-margin-left{
	margin-left: 60px;
}

.profile-button {
	display: none;
}

.login-button {
	display: inline;
}

.logout-button {
	display: none;
}

.create-event-button {
	display: none;
}

.rsvp-button {
	display: none;
	background: #3C7
}